@import 'globals.scss';

body {
  background-color: $bg-color-primary;
  font-family: $font-primary;
  color: $text-color-default;
  margin: 0;
}

button {
  border: none;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  align-items: center;
}