.circle-menu {
  position: absolute;
}

.menu-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: #fff;
  color: #1591b6;
  border-radius: 100%;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &--open {
    opacity: 1;
    transform: translateX(-60px);
    pointer-events: all;

    &:first-of-type {
      transform: translateX(-60px) rotate(30deg) translateY(-60px) rotate(-30deg);
    }

    &:last-of-type {
      transform: translateX(-60px) rotate(-30deg) translateY(60px) rotate(30deg);
    }

    &:hover {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
