<html>
  <head>
    <meta charset="utf-8">
    <meta name="locale" content="US">
    <meta name="language" content="en">
    <meta name="country" content="US">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="/static/styles/noauth/index.css" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <h1 class="header__logo">Personal Finance Management Ssystem</h1>
      <button class="header__join">
        <a href="/join/">Join now</a>
      </button>
      <button class="header__login">
        <a href="/login/">Sign in</a>
      </button>
    </header>

    <section class="banner">
      CAROUSEL
    </section>

    <section class="content">
      CONTENT
    </section>

    <footer class="footer">
      <a class="footer__github-link" href="https://github.com/Megaloden106">
        <img class="footer__github-icon" src="/static/images/icon-github.svg">
        &nbsp;Github
      </a>
      &nbsp;&middot; Developed by Eddie Lo @ 2019.
    </footer>
  </body>
</html>