.checkbox-input {
  height: 0;
  width: 0;
  visibility: hidden;

  &:checked + .checkbox .checkbox-btn {
    color: #1e7ba4;
  }
}

.checkbox {
  width: fit-content;
  margin-bottom: 10px;
  color: #555;
  font-size: 16px;
  cursor: pointer;

  &:active .checkbox-btn {
    box-shadow: inset 0 0 0 2px #1e7ba48f;
  }

  &:hover .checkbox-btn {
    border: 1px solid #1e7ba4;
  }

  .checkbox-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    padding: unset;
    color: transparent;
    border: 1px solid #333;
    font-size: 14px;
    user-select: none;
  }
}

.error-message {
  display: block;
  width: inherit;
  margin-top: -5px;
  margin-bottom: 10px;
  color: #f45431;
  font-size: 13px;
  font-weight: normal;
  line-height: 12px;
}
