.header {
  display: flex;
  height: 50px;
  width: 100%;
  padding: 0 calc(50% - 600px);
  background: white;
  border-bottom: 1px solid #999;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  margin: 0;
  color: #1591b6;
  font-size: 28px;
}

.header-username {
  padding: 0;
  color: #1591b6;
  font-size: 20px;
  font-weight: bold;
}
