.header {
  display: flex;
  min-height: 86px;
  width: 100%;
  border-bottom: 1px solid #999;
  background: white;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin: 0;
  margin-left: 20px;
  color: #1591b6;
}

.header-username {
  margin-right: 20px;
  padding: 0;
  color: #1591b6;
  font-size: 20px;
  font-weight: bold;
}
