@import '../../globals';

.container {
  display: grid;
  grid-template-columns: 1080px 280px;
  grid-template-rows: auto;
  grid-template-areas:
    "graph sidebar"
    "analytics sidebar";
  grid-column-gap: 80px;
  grid-row-gap: 6px;
  width: $app_width;
  margin-top: 6px;
  border: 1px solid blue;
}